{% extends 'base.html' %}
{% block title %}<title>{{title}}</title>{% endblock %}
{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post_list.pub_date|date:"d E Y" }}
            </li>
              <li class="list-group-item">
                Группа: {{ post_list.group }}
                <a href="">
                  все записи группы
                </a>
              </li>
              <li class="list-group-item">
                Автор: {{ post_list.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: <span> {{ post_list.count }} </span >
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
           {{ post_list.text }}
          </p>
        </article>
{% endblock %}
      </div>


